<!--If you only have side mode, you can consider using zorro's menu recursion.-->
<!--https://github.com/NG-ZORRO/ng-zorro-antd/issues/6306-->
@if (!isMixinHead) {
  <ul nz-menu
      [nzInlineCollapsed]="isCollapsed$ | async"
      [nzMode]="(themesOptions$ | async)!.mode === 'side' || (themesOptions$ | async)!.mode === 'mixin' || (isOverMode$ | async) ? 'inline' : 'horizontal'"
      [nzNoAnimation]="(themesOptions$ | async)!.mode === 'top' && !isOverMode"
      [nzTheme]="isMixinMode && !(isOverMode$ | async) && !(isNightTheme$ | async) ? 'light' : isMixinMode && (isNightTheme$ | async) ? 'dark' : (themesOptions$ | async)!.theme">
    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: isMixinLeft ? leftMenuArray : menus }"></ng-container>
    <ng-template #menuTpl
                 let-menus>
    <!-- Lặp qua mảng menu cấp độ cao nhất -->
    @for (menu of leftMenu; track menu; let i = $index) {
    <ng-container>
      <!-- Kiểm tra nếu menu có menu con -->
      @if (menu.children && menu.children.length) {
      <ng-container>
        <!-- Tạo một submenu với các menu con -->
        <li nz-submenu
            [nzTitle]="menu.name">
          <!-- Hiển thị icon nếu có -->
          @if (menu.icon) {
          <span>
            <i nz-icon
               [nzType]="menu.icon"></i>
          </span>
        }
          <ul>
            <!-- Lặp qua các menu con -->
            @for (child of menu.children; track child;) {
            <li nz-menu-item
                [routerLink]="[child.url]">
              {{ child.name }}
            </li>
          }
          </ul>
          </li>
      </ng-container>
      }<!-- end if -->
      <!-- Nếu menu không có menu con, tạo một item đơn -->
      @if (!menu.children || !menu.children.length) {
      <li nz-menu-item
          [routerLink]="[menu.url]">
        <!-- Hiển thị icon nếu có -->
        @if (menu.icon) {
        <span>
          <i nz-icon
             [nzType]="menu.icon"></i>
        </span>
      }
        {{ menu.name }}
        </li>
    }<!-- end if menu child -->
    </ng-container>
  }<!-- end for left menu  -->
  </ng-template>
  </ul>
} @else {
<ul nz-menu
    nzMode="horizontal"
    nzTheme="dark">
    <!-- Lặp qua mảng menu cấp độ cao nhất -->
    @for (menu of leftMenu; track menu; let i = $index) {
    <ng-container>
      <!-- Kiểm tra nếu menu có menu con -->
      @if (menu.children && menu.children.length) {
      <ng-container>
        <!-- Tạo một submenu với các menu con -->
        <li nz-submenu
            [nzTitle]="menu.name">
          <!-- Hiển thị icon nếu có -->
          @if (menu.icon) {
          <span>
            <i nz-icon
               [nzType]="menu.icon"></i>
          </span>
          }
          <ul>
            <!-- Lặp qua các menu con -->
            @for (child of menu.children; track child;) {
            <li nz-menu-item
                [routerLink]="[child.url]">
              {{ child.name }}
            </li>
            }
          </ul>
          </li>
          </ng-container>
          }<!-- end if -->
          <!-- Nếu menu không có menu con, tạo một item đơn -->
          @if (!menu.children || !menu.children.length) {
          <li nz-menu-item
          [routerLink]="[menu.url]">
        <!-- Hiển thị icon nếu có -->
        @if (menu.icon) {
        <span>
          <i nz-icon
             [nzType]="menu.icon"></i>
        </span>
        }
        {{ menu.name }}
        </li>
      }<!-- end if menu child -->
      </ng-container>
    }<!-- end for left menu  -->
    </ul>
}
