<nz-card class="ant-card">
  <div class="ant-card-body">
    <form novalidate=""
          nz-form=""
          class="ant-form ant-form-inline">
      <div nz-row=""
           class="ant-row"
           style="margin-left: -24px; margin-right: -24px;">
        <div nz-col=""
             nzmd="8"
             nzsm="24"
             class="ant-col ant-col-sm-24 ant-col-md-8"
             style="padding-left: 24px; padding-right: 24px;">
          <nz-form-item class="ant-form-item ant-row">
            <nz-form-label nzfor="no"
                           class="ant-form-item-label ant-col">
              <label for="no">Search</label>
            </nz-form-label>
            <nz-form-control class="ant-form-item-control ant-col">
              <div class="ant-form-item-control-input ">
                <div class="ant-form-item-control-input-content ">
                  <input nz-input=""
                         name="no"
                         placeholder="Search"
                         id="no"
                         class="ant-input ant-input-stepperless">
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col=""
             nzmd="8"
             nzsm="24"
             class="ant-col ant-col-sm-24 ant-col-md-8"
             style="padding-left: 24px; padding-right: 24px;">
          <nz-form-item class="ant-form-item ant-row"><nz-form-label nzfor="status"
                           class="ant-form-item-label ant-col"><label for="status">Status</label></nz-form-label>
            <nz-form-control class="ant-form-item-control   ant-col">
              <div class="ant-form-item-control-input ">
                <div class="ant-form-item-control-input-content ">
                  <nz-select name="status"
                             id="status"
                             class="ant-select ant-select-in-form-item ant-select-show-arrow ant-select-show-search ant-select-single">
                    <nz-select-top-control cdkoverlayorigin=""
                                           class="ant-select-selector"><nz-select-search class="ant-select-selection-search "><input autocomplete="off"
                               class="ant-select-selection-search-input"></nz-select-search><nz-select-placeholder class="ant-select-selection-placeholder "> type... </nz-select-placeholder>
                    </nz-select-top-control>
                    <nz-select-arrow class="ant-select-arrow"><span nz-icon
                            class="anticon anticon-down"
                            nzType="down"
                            nzTheme="outline"></span>
                    </nz-select-arrow>
                  </nz-select>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col=""
             class="ant-col ant-col-8"
             style="padding-left: 24px; padding-right: 24px;"><button nz-button=""
                  type="submit"
                  class="ant-btn ant-btn-primary"><span class="ng-star-inserted">Search</span></button><button nz-button=""
                  type="reset"
                  class="ant-btn mx-sm"><span class="ng-star-inserted">clear</span></button><a> Expand <span nz-icon
                  class="anticon anticon-down"
                  nzType="down"
                  nzTheme="outline"></span></a></div>
      </div>
    </form>
    <button nz-button=""
            class="ant-btn ant-btn-primary"><i nz-icon
         nzType="plus"
         nzTheme="outline"></i><span>Add</span>
    </button>

  </div><!--ant-card-body--->
</nz-card>
